{% extends "layout.html" %}
{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<h3>Convert</h3>

<hr>
<div>
    <form method="post">
        {{ render_field(form.text1)  }}
        {{ render_field(form.text2) }}
    <button type="submit" class="btn btn-primary">Convert</button>
        <br><br><br>
    </form>
</div>
<div>
    <form action="{{url_for('index')}}" method="get">
        <button class="btn btn-primary" type="submit">HomePage</button>
        <br><br><br>
    </form>
</div>
<div>
    <form action="{{url_for('logout')}}" method="get">
        <button class="btn btn-danger" type="submit">Logout</button>
        <br><br><br>
    </form>
</div>








{% endblock  %}

